<% form_for(task) do |f| %>

    <%= f.error_messages %>

  <p>
    <%= f.label (t 'patterns.title') %>:<br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label (t 'patterns.description') %>:<br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label (t 'tasks.status') %>:<br />
    <%= f.select :status, Task::STATUS_OPTIONS %>
  </p>

  <p>
    <%= f.label (t 'tasks.owner') %>:<br />
    <%= f.select :owner_id, @users, :prompt => (t 'patterns.select') %>
  </p>

  <p>
    <%= f.label (t 'tasks.priority') %>:<br />
    <%= f.select :priority, Task::PRIORITY_OPTIONS %>
  </p>

  <p>
    <%= f.label (t 'tasks.progress') %>:<br />
    <%= f.text_field :progress %>
  </p>

  <p>
    <%= f.label (t 'patterns.started_at') %>:<br />
    <%= f.date_select(:started_at, :order => [:day, :month, :year]) %>
  </p>

  <p>
    <%= f.label (t 'patterns.ended_at') %>:<br />
    <%=f.date_select(:ended_at, :order => [:day, :month, :year], :include_blank => true) %>
  </p>

  <p>
    <%= f.label (t 'tasks.project') %>:<br />
    <%= f.select :project_id, @projects, :prompt => (t 'patterns.select') %>
  </p>
  <%= submit_tag type %>
<% end %>

<%= link_to (t 'patterns.back'), tasks_path %>
