<p>
  <b><%= t 'patterns.title' %>:</b>
  <%=h @task.title %>
</p>

<p>
  <b><%= t 'patterns.description' %>:</b>
  <%=h @task.description %>
</p>

<p>
  <b><%= t 'tasks.status' %>:</b>
  <%=h @task.status %>
</p>

<p>
  <b><%= t 'tasks.owner' %>:</b>
  <%=link_to h(@task.owner.name), @task.owner %>
</p>

<p>
  <b><%= t 'tasks.priority' %>:</b>
  <%=h @task.priority %>
</p>

<p>
  <b><%= t 'tasks.progress' %>:</b>
  <%=h @task.progress %>
</p>

<p>
  <b><%= t 'patterns.started_at' %>:</b>
  <%=h @task.started_at %>
</p>

<p>
  <b><%= t 'patterns.ended_at' %>:</b>
  <%=h @task.ended_at %>
</p>

<p>
  <b><%= t 'tasks.project' %>:</b>
  <%= link_to h(@task.project.name), @task.project %>
</p>

<%= link_to (t 'patterns.edit'), edit_task_path(@task) %> |
<%= link_to (t 'patterns.back'), tasks_path %>
