<h1><%= t 'users.list' %></h1>
<table>
  <tr>
    <th><%= t 'patterns.name' %></th>
    <th><%= t 'patterns.login' %></th>
    <th><%= t 'patterns.password' %></th>
    <th><%= t 'patterns.kind' %></th>
    <th><%= t 'patterns.documents' %></th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.login %></td>
    <td><%=h user.password %></td>
    <td><%=h user.kind %></td>
    <td><%= link_to (t 'patterns.documents'), user_documents_path(user) %></td>
    <td><%= link_to (t 'patterns.show'), user %></td>
    <td><%= link_to (t 'patterns.edit'), edit_user_path(user) %></td>
    <td><%= link_to (t 'patterns.destroy'), user, :confirm => (t 'patterns.confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to (t 'users.new'), new_user_path %>
