<p>
  <b><%= t 'patterns.name' %>:</b>
  <%=h @user.name %>
</p>

<p>
  <b><%= t 'patterns.login' %>:</b>
  <%=h @user.login %>
</p>

<p>
  <b><%= t 'patterns.password' %>:</b>
  <%=h @user.password %>
</p>

<p>
  <b><%= t 'patterns.kind' %>:</b>
  <%=h @user.kind %>
</p>
 
 <% unless @user.contracts.empty? %> 
 <p> 
  <b><%= t 'users.learder_of_contracts:' %>:</b> 
 <ul> 
   <% @user.contracts.each do |contract| %> 
   <li><%= link_to contract.name, contract %></li> 
   <% end %> 
  </ul> 
<% end %> 

 <% unless @user.tasks.empty? %> 
 <p> 
  <b> <%= t 'users.tasks' %>:</b> 
 <ul> 
   <% @user.tasks.each do |task| %> 
   <li><%= link_to task.title, task %></li> 
   <% end %> 
  </ul> 
<% end %>

<%= link_to (t 'patterns.edit'), edit_user_path(@user) %> |
<%= link_to (t 'patterns.back'), users_path %>
