<div id="form"> 
<div class="edit" id="new_form"> 
<h2><%= t 'tasks.new' %></h2> 
<div  class="part"> 
   <% form_remote_for(:task, :url => { :action => "save" },
                      :before => %(Element.show("loader")),
                      :complete => %(Element.hide("loader"))) do |f| %>
	   <%= render :partial => "form", :locals => {:f => f} %>
   <p> 
  <p> 
    <b><%= f.label (t 'tasks.project') %></b><br /> 
    <%= f.select :project_id, @projects, :prompt => (t 'patterns.select') %> 
  </p> 

   <%= submit_tag (t 'patterns.create') %> 
   </p> 
 <% end %>
 </div>
</div>
</div>
