<h1>Editing project</h1>

<% form_for(@project, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Edit' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
